@import "../../../styles/variables.styl"

#bg-video
  position fixed
  top 0
  left 0
  min-width 100vw
  min-height 100vh
  width auto
  height auto
  z-index -100
  background-size cover
  background-color #222

#bg-video-grid
  position fixed
  top 0
  left 0
  min-width 100vw
  min-height 100vh
  width auto
  height auto
  z-index -100
  background url(assetsUrl + "/images/videogrid.png") rgba(240,243,237,.75)
  background-size 5px

#bg-video-pause
  font-family bodyFont
  border-radius 0
  border none
  background-color transparent
  padding 0
  margin 0
  position fixed
  top 2rem
  right 2rem
  z-index 100

  @media (max-width 620px)
    display none
