@import "variables.styl"

.container > *
  // doesn't work in Firefox, so is manually added
  // see startup.coffee#11
  // opacity 0
  // Per http://stackoverflow.com/a/26393720/16308,
  // !important is needed here for some reason for the "forwards"
  // to stick. Seems to have something to do with flexbox.
  animation-fill-mode forwards !important

  &.blog
    animation fadeIn 0.6s cubic-bezier(.87,-.41,.19,1.44)
  &:not(.blog)
    animation scaleUp 0.6s cubic-bezier(.87,-.41,.19,1.44)

  for i in (2..10)
    &:nth-child({i})
      animation-delay 0.1s * i

@-webkit-keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@-webkit-keyframes fadeInHeader
  from
    transform translateY(-50px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@keyframes fadeInHeader
  from
    transform translateY(-50px)
    opacity 0
  to
    transform translateY(0)
    opacity 1

@-webkit-keyframes scaleUp
  from
    transform scale(.8)
  to
    transform scale(1)
    opacity 1

@keyframes scaleUp
  from
    transform scale(.8)
  to
    transform scale(1)
    opacity 1

@keyframes colorCycle
  0%
    border-color qColor
    background-color qColor
  10%
    border-color #2be6cc
    background-color #2be6cc
  20%
    border-color #2bb2e6
    background-color #2bb2e6
  30%
    border-color #2b42e6
    background-color #2b42e6
  40%
    border-color #852dbc
    background-color #852dbc
  50%
    border-color #d22be6
    background-color #d22be6
  60%
    border-color #e62b81
    background-color #e62b81
  70%
    border-color #ff2121
    background-color #ff2121
  80%
    border-color #ff7d30
    background-color #ff7d30
  90%
    border-color #ffe630
    background-colo #ffe630r
