@import "../../../styles/variables.styl"

@media (min-width 620px)
  #page.home
    display flex
    flex-direction column
    justify-content space-between
    height 100%
    flex 1

.home-headline p a
  color black

.newslist
  display flex
  align-items center

  @media (min-width 620px)
    margin 0 5rem
    overflow-x hidden

  & > p
    margin 40px 0 !important
  & > h2, & > p
    text-align center
  & > h2
    font-weight 300
    font-style italic
    smallcaps()

  @media (max-width 600px)
    display block

.newsitem
  flex 1
  @media (min-width 620px)
    min-width 340px

  .col:last-child
    flex 4

  h2
    font-size 16px
    margin-top 0

  a
    display flex
    justify-content space-between
    align-items center
    border none
    padding 0 2rem 1rem 2rem
    font-weight 300
    &:hover
      color black
      h2
        text-decoration underline

  p
    margin-top 0

  .metadata
    display flex
    justify-content space-between
    align-items center
    font-size .8rem

  .author
    float right
    img
      vertical-align middle
      border-radius 50%
      object-fit cover
      width 32px
      height 32px

  .image
    width 45px
    height 75px
    margin-right 1rem
    overflow hidden
    text-align center
    line-height 75px
    img
      object-fit cover
      width 50px
      height 50px
      vertical-align middle

.home-footer
  padding 20px 0
  margin 0 2rem
  font-size 12px
  text-align center

  .dot
    display inline-block
    padding 0 .5rem
